button {
    border: none;
}

.cart {
    background: white;
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.cart > ul {
    max-width: 20em;
    padding: 2em 2em 5em 2em;
    overflow-y: auto;
}

.cart > footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.cart > footer > button {
    background-color: red;
    padding: .5em 1em;
    border-radius: 1em;
    margin-block: 1em;
}

.cart > button:hover {
    background-color: rgb(255, 63, 63);
}
  
.cart img {
    width: 100%;
}
  
.cart li {
    padding: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
    border-radius: 1em;
}

.cart li + li {
    margin-top: 1em;
}
  
.cart footer {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
  
.cart footer button {
    padding: 0.5em;
}
  
.cart-button {
    align-items: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .25em;
    transition: all .3s ease;
    position: relative;
}
  
.cart-button:hover {
    scale: 1.1;
}
  
.cart-button ~ input:checked ~ .cart,
.cart-button ~ input:checked ~ .background{
    height: 100%;
    display: flex;
}

.cart-button > svg {
    width: 3em;
    height: 3em;
}

.background {
    background: #00000071;
    padding: 2em;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    transition: all 0.5s;
    display: none;
}

.producto-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.producto-cart header {
    height: 10em;
    width: 100%;
}

.producto-cart > header img {
    width: 100%;
    height: 100%;
}
.producto-cart > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.producto-cart > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}
.producto-cart > div > div > strong,
.producto-cart > div > div > em {
    color: black;
}
.producto-cart > div > footer{
    display: flex;
    align-items: center;
}

.producto-cart > div > footer .quantity {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 2em;
    border: 1px solid black;
    padding-inline: .5em;
}
.producto-cart .quantity > button {
    padding: .5em 1em;
    width: 1em;
    border-radius: 50%;
    color: red;
    font-size: 1.125em;
}
.producto-cart .quantity > input {
    width: 3em;
    text-align: center;
    border: none;
    padding-block: 1em;
    outline: none;
}

.producto-cart .quantity + button {
    background-color: red;
    padding: .5em 1em;
    border-radius: 1em;
}

.producto-cart .quantity + button:hover {
    background-color: rgb(255, 63, 63);
}
