ul {
    list-style: none;
}

article {
    padding: 1em;
}

article > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;
    margin: 1em;
    border-radius: 1em;
    background-color: white;
    padding: 2em;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
    border-radius: 1em;
    padding: 1em;
}

.producto > header {
    height: 10em;
}

.producto > header img {
    width: 100%;
    height: 100%;
}
.producto > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.producto > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}
.producto > div > div > strong {
    text-align: center;
}
.producto > div > footer > button {
    border-radius: 1em;
    border: none;
}

@media screen and (max-width: 400px) {
    article {
        padding: 0;
    }

    article > ul {
        grid-template-columns: 1fr;
    }

    .cart-button > svg {
        width: 1.5em;
        height: 1.5em;
    }

    .producto > div > footer > button > svg {
        width: 1.5em;
        height: 1.5em;
    }

    .navbar > h1 {
        font-size: 1em;
    }

    .producto > div > div > strong {
        font-size: .75em;
    }

    .producto > div > div > span {
        font-size: .75em;
    }

    .producto > header {
        height: auto;
    }
}